body {
  background-color: transparent;
}

section {
  max-height: 100vh;
  font-family: "Muli", sans-serif;
  font-size: 1rem;
  background-color: transparent;
  display: grid;
  grid-template-rows: min(calc(100% - 32px), 256px) 32px;
  place-items: center;
}

section img {
  object-fit: contain;
}

.add-image-button-happy {
  display: block;
  border: none;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 4px;
}

.add-image-button-moody {
  display: block;
  border: none;
  margin: 0 auto;
  margin-bottom: 4px;
}

.add-image-button-frustrated {
  display: block;
  border: none;
  margin: 0 auto;
  margin-bottom: 4px;
}

.add-image-button {
  display: block;
  border: none;
  margin: 0 auto;
  margin-bottom: 4px;
}
