body {
  background-color: transparent;
}

.add-image-button-happy,
.add-image-button-moody,
.add-image-button-frustrated,
.reset-button {
  font-size: 10px;
  display: block;
  border: none;
  margin: 0 auto;
  margin-bottom: 4px;
}

.image-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error-text-div {
  text-align: center;
  margin-tip: 5px;
  margin-bottom: 5px;
}
